extends ../layout

block content
  h2 End-of-term Results for Concordia University Wisconsin English Language Institue

  h3 Student Information
  table.table
    tr
      th First Name
      td= row.First_name
    tr
      th Last Name
      td= row.Last_name
    tr
      th Student ID
      td= row.Student_number
    tr
      th School Year
      td= row.Year
    tr
      th Major
      td= row.Major
    tr
      th Degree
      td= row.Degree
    tr
      th Semester
      td= row.Season
    tr
      th Term
      td= row.Term
    tr
      th Level
      td= row.Level
    tr
      th Section
      td= row.Section

  hr

  h3 Institutional TOEFL Results
  table.table
     tr
       th Subject
       th Converted Score
     tr
       th Listening
       td= row.Listening
     tr
       th Reading
       td= row.Reading
     tr
       th Grammar
       td= row.Grammar
     tr
       th Total Score
       td= row.Toefl

  h3 Concordia Unversity Wsiconsin ELI Exit Criteria
  table.table
    tr
      th Item
      th Converted Score (out of 20)
    tr
      th Teacher Recommendations
      td= row.Teacher_recommendation
    tr
      th Grades
      td= row.Grades
    tr
      th Timed Writing
      td= row.Timed_writing
    tr
      th Interviews
      td= row.Interview
    tr
      th TOEFL
      td= row.Toefl
    tr
      th Total
      td= row.Result

  p Students who earn 70 or more points are eligible to exit the English Language institue.
  p You have made good progress this term, and you will move on to the next level in the ELI.
  hr
  p Timothy Fojitk
  p Director, English Language Insitute
  p Concordia University Wisconsin
  p= (new Date()).toLocaleDateString()