extends ../layout

block content
  h1= title
  table
    tr
      td First Name
      td= result.First_name
    tr
      td Last Name
      td= result.Last_name
    tr
      td Student ID
      td= result.Student_number
    tr
      td School Year
      td= result.Year
    tr
      td Semester
      td= result.Season
    tr
      td Term
      td= result.Term
    tr
      td Level
      td= result.Level
    tr
      td Section
      td= result.Section

  form(action='/webforms/writings/edit/' + result.Semester_id, method='post')
    h2 Grades for Writing & Grammer
    label Please input grades (A: 4.0, B:3.0, C:2.0)
    br
    input(type='radio' name='Writing_score' value='4.0' checked=result.Writing_score=='4.0')
    | 4.0 A+/A
    br
    input(type='radio' name='Writing_score' value='3.7' checked=result.Writing_score=='3.7')
    | 3.7 A-
    br
    input(type='radio' name='Writing_score' value='3.3' checked=result.Writing_score=='3.3')
    | 3.3 B+
    br
    input(type='radio' name='Writing_score' value='3.0' checked=result.Writing_score=='3.0')
    | 3.0 B
    br
    input(type='radio' name='Writing_score' value='2.7' checked=result.Writing_score=='2.7')
    | 2.7 B-
    br
    input(type='radio' name='Writing_score' value='2.3' checked=result.Writing_score=='2.3')
    | 2.3 C+
    br
    input(type='radio' name='Writing_score' value='2.0' checked=result.Writing_score=='2.0')
    | 2.0 C
    br
    input(type='radio' name='Writing_score' value='1.7' checked=result.Writing_score=='1.7')
    | 1.7 C-
    br
    input(type='radio' name='Writing_score' value='1.3' checked=result.Writing_score=='1.3')
    | 1.3 D+
    br
    input(type='radio' name='Writing_score' value='1.0' checked=result.Writing_score=='1.0')
    | 1.0 D
    br
    input(type='radio' name='Writing_score' value='0.0' checked=result.Writing_score=='0.0')
    | 0.0 E/F
    br
    input(type='submit' value='Comfirm')
    input(type='button' onclick="window.location.href=\'/verifications/writing\'" value='Cancel')
    input(type='button' onclick="window.location.href=\'/webforms/writings/delete/" + result.Semester_id +"\'" value='Delete')