extends ../layout

block content
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          h4= title
        .panel-body
          table.table.table-striped
            thead
              tr
                th
                th Student Number
                th First Name
                th Last Name
                th Year
                th Semester
                th Term
                th Level
                th Section
                th DELETE
            tbody    
              each row in rows
                tr
                  td
                    a.btn.btn-primary.btn-xs(href='/webforms/#{webformType}/edit/#{row.Semester_id}') Click
                  td= row.Student_number
                  td= row.First_name
                  td= row.Last_name
                  td= row.Year
                  td= row.Season
                  td= row.Term
                  td= row.Level
                  td= row.Section
                  td
                    a(href='/webforms/#{webformType}/delete/' + row.Semester_id) delete


