extends ../layout

block content
  h2= title
  .row
    .col-md-3
      .list-group
        li.list-group-item All Unverified Records
          span.badge= all
        a.list-group-item(href='/verifications/readings') Reading & Vocabulary
          span.badge= result.Readings
        a.list-group-item(href='/verifications/speakings') Speaking & Listening
          span.badge= result.Speakings
        a.list-group-item(href='/verifications/writings') Writing & Gramar
          span.badge= result.Writings
        a.list-group-item(href='/verifications/toefl_preps') TOEFL Preparation
          span.badge= result.Toefl_preps
        a.list-group-item(href='/verifications/extensive_listenings') Extensive Listening
          span.badge= result.Extensive_listenings
        a.list-group-item(href='/verifications/interviews') Interview
          span.badge= result.Interviews
        a.list-group-item(href='/verifications/recommendations') Teacher Recommendation
          span.badge= result.Recommendations
        a.list-group-item(href='/verifications/toefls') TOEFL
          span.badge= result.Toefls
        a.list-group-item(href='/verifications/timed_writings') Timed Writing
          span.badge= result.Timed_writings

