extends layout

block content
  h1= title
  table
    tr
      th
      th Student Number
      th First Name
      th Last Name
      th Year
      th Semester
      th Term
      th Level
      th Section
      th DELETE
    
    each row in rows
      tr
        td
          button(type='button', onclick="window.location.href=\'/webforms/toefls/edit/" + row.Semester_id + "\';") Click
        td= row.Student_number
        td= row.First_name
        td= row.Last_name
        td= row.Year
        td= row.Season
        td= row.Term
        td= row.Level
        td= row.Section
        td
          a(href='/webforms/toefls/delete/' + row.Semester_id) delete


