extends ../../layout

block content
  h1= title
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          h4 Student Information
        .panel-body
          table.table
            tbody
              tr
                td First Name
                td= result.First_name
              tr
                td Last Name
                td= result.Last_name
              tr
                td Student ID
                td= result.Student_number
              tr
                td School Year
                td= result.Year
              tr
                td Semester
                td= result.Season
              tr
                td Term
                td= result.Term
              tr
                td Level
                td= result.Level
              tr
                td Section
                td= result.Section

    .col-md-4
      .panel.panel-default
        .panel-heading
          h4 Edit Grades for #{title}
        .panel-body
          form(action='/webforms/#{gradingWebformType}/edit/' + result.Semester_id, method='post')
            .form-group
              label(for 'Person_in_charge') Instructor Name
              input#Person_in_charge(type='text' class='form-control' name='Person_in_charge' value = result.Person_in_charge)

            .form-group
              label Please choose a grade
              br
              input(type='radio' name= scoreType value='4.0' checked=score=='4.0')
              |  4.0&nbsp&nbspA+/A
              br
              input(type='radio' name= scoreType value='3.7' checked=score=='3.7')
              |  3.7&nbsp&nbspA-
              br
              input(type='radio' name= scoreType value='3.3' checked=score=='3.3')
              |  3.3&nbsp&nbspB+
              br
              input(type='radio' name= scoreType value='3.0' checked=score=='3.0')
              |  3.0&nbsp&nbspB
              br
              input(type='radio' name= scoreType value='2.7' checked=score=='2.7')
              |  2.7&nbsp&nbspB-
              br
              input(type='radio' name= scoreType value='2.3' checked=score=='2.3')
              |  2.3&nbsp&nbspC+
              br
              input(type='radio' name= scoreType value='2.0' checked=score=='2.0')
              |  2.0&nbsp&nbspC
              br
              input(type='radio' name= scoreType value='1.7' checked=score=='1.7')
              |  1.7&nbsp&nbspC-
              br
              input(type='radio' name= scoreType value='1.3' checked=score=='1.3')
              |  1.3&nbsp&nbspD+
              br
              input(type='radio' name= scoreType value='1.0' checked=score=='1.0')
              |  1.0&nbsp&nbspD
              br
              input(type='radio' name= scoreType value='0.0' checked=score=='0.0')
              |  0.0&nbsp&nbspE/F
              br

            .form-group
              .row
                .col-md-4
                  input.btn.btn-primary.btn-block(type='submit' value='Comfirm')
                .col-md-4
                  a.btn.btn-primary.btn-block(href='/') Cancel
                .col-md-4
                  a.btn.btn-primary.btn-block(href='/webforms/#{gradingWebformType}/delete/#{result.Semester_id}') Delete