extends ../layout

block content
  h2= title
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          h4 Student Information
        .panel-body
          table.table
            tbody
              tr
                td First Name
                td= result.First_name
              tr
                td Last Name
                td= result.Last_name
              tr
                td Student ID
                td= result.Student_number
              tr
                td Major
                td= result.Major
              tr
                td Degree
                td= result.Degree
              tr
                td School Year
                td= result.Year
              tr
                td Semester
                td= result.Season
              tr
                td Term
                td= result.Term
              tr
                td Level
                td= result.Level
              tr
                td Section
                td= result.Section

    .col-md-4
      .panel.panel-primary
        .panel-heading
          h4= title
        .panel-body
          .list-group
            .text.text-center Grades
              .list-group
                a.list-group-item(href='/webforms/readings') Reading & Vocabulary
                a.list-group-item(href='/webforms/speakings') Speaking & Listening
                a.list-group-item(href='/webforms/writings') Writing & Grammar
                a.list-group-item(href='/webforms/toefl_preps') TOEFL Prep
                a.list-group-item(href='/webforms/extensive_listenings') Extensive Listening
            hr
            .list-group.text-center
              a.list-group-item(href='/webforms/interviews/#{result.Semester_id}') Interview
              a.list-group-item(href='/webforms/recommendations{result.Semester_id}') Teacher Recommendation
              a.list-group-item(href='/webforms/toefls') TOEFL
              a.list-group-item(href='/webforms/timed_writings') Timed Writing

block content
  h1= title
  p
    a(href='/webforms/interviews/' + Semester_id) Interview
  p Grades
  ul
    li
      a(href='/webforms/readings/' + Semester_id) Reading & Vocabulary
    li
      a(href='/webforms/speakings/' + Semester_id) Speaking & Listening
    li
      a(href='/webforms/writings/' + Semester_id) Writing & Grammar
  p
    a(href='/webforms/toefls/' + Semester_id) TOEFL Score
  p
    a(href='/webforms/recommendations/' + Semester_id) Teacher Recommendation
  p
    a(href='/webforms/timed_writings/' + Semester_id) Timed Writing