extends ../layout

block content
  h1= title
  table
    tr
      td First Name
      td= result.First_name
    tr
      td Last Name
      td= result.Last_name
    tr
      td Student ID
      td= result.Student_number
    tr
      td School Year
      td= result.Year
    tr
      td Semester
      td= result.Season
    tr
      td Term
      td= result.Term
    tr
      td Level
      td= result.Level
    tr
      td Section
      td= result.Section

  form(action='/webforms/recommendations/edit/' + result.Recommendation_id, method='post')
    label Teacher Name:
    br
    input(type='text', name='Teacher_name', value= result.Teacher_name)
    h3 Effort
    label Attendence:
    br
    input(type='text', name='Attendence', value= result.Attendence)
    br
    label Completion Of Homework:
    br
    input(type='text', name='Completion', value= result.Completion)
    br
    label Quality Of Class Participation:
    br
    select(name='Participation')
      option(value='Strong' selected=result.Participation=='Strong') Stong
      option(value='Average' selected=result.Participation=='Average') Average
      option(value='Weak' selected=result.Participation=='Weak') Weak
      option(value='Cannot Evaluate' selected=result.Participation=='Cannot Evaluate') Cannot Evaluate
    br
    label Attitude Towards English Study:
    br
    select(name='Attitude')
      option(value='Strong' selected=result.Attitude=='Strong') Stong
      option(value='Average' selected=result.Attitude=='Average') Average
      option(value='Weak' selected=result.Attitude=='Weak') Weak
      option(value='Cannot Evaluate' selected=result.Attitude=='Cannot Evaluate') Cannot Evaluate
    br
    h3 Recommendation Of Subsequent Student:
    br
    select(name='Recommendation_level')
      option(value='1' selected=result.Recommendation_level=='1') Repeat Current ELI Level
      option(value='2' selected=result.Recommendation_level=='2') Advance To Next ELI Level
      option(value='3' selected=result.Recommendation_level=='3') Exit ELI (Some Teacher Concern)
      option(value='4' selected=result.Recommendation_level=='Cannot Evaluate') Exit ELI (Some Teacher Concern)
      option(value='5' selected=result.Recommendation_level=='5') Exit ELI (Few Or No Teacher Concern)
    br
    label Comments For Students File(To inform/assist academic program professor)
    br
    input(type='text', name='Comments', value= result.Comments)
    br
    input(type='submit' value='Comfirm')
    input(type='button' onclick="window.location.href=\'/verifications/recommendation\'" value='Cancel')
    input(type='button' onclick="window.location.href=\'/webforms/recommendations/delete/" + result.Recommendation_id +"\'" value='Delete')