extends ../layout

block content
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          h4 Student Information
        .panel-body
          table.table
            tbody
              tr
                td Student Number
                td= student.Student_number
              tr
                td First Name
                td= student.First_name
              tr
                td Last name
                td= student.Last_name
              tr
                td Major
                td= student.Major
              tr
                td Degree
                td= student.Degree

    .col-md-4
      .panel.panel-primary
        .panel-heading
          h4= title + ':'
        .panel-body
          form(action = '/semesters/edit/' + student.Student_id + '/' + semester.Semester_id method = 'post')
            .form-group
              label(for='Year') Calendar Year:
              input#Year.form-control(type='number' name='Year' value= semester.Year)

            .form-group
              label(for='Season') Semster:
              select.form-control(name='Season')
                option(value='spring' selected=semester.Season=='spring') Spring
                option(value='summer' selected=semester.Season=='summer') Summer
                option(value='fall' selected=semester.Season=='fall') Fall

            .form-group
              label(for='Term') Term:
              select.form-control(name='Term')
                option(value='1' selected=semester.Term=='1') 1
                option(value='2' selected=semester.Term=='2') 2

            .form-group
              label(for='Level') level
              select.form-control(name='Level')
                option(value='Beginning A' selected=semester.Level=='Beginning A') Beginning A
                option(value='Beginning B' selected=semester.Level=='Beginning B') Beginning B
                option(value='Basic A' selected=semester.Level=='Basic A') Basic A
                option(value='Basic B' selected=semester.Level=='Basic B') Basic B
                option(value='Intemediate A' selected=semester.Level=='Intemediate A') Intemediate A
                option(value='Intemediate B' selected=semester.Level=='Intemediate B') Intemediate B
                option(value='Advanced A' selected=semester.Level=='Advanced A') Advanced A
                option(value='Advanced B' selected=semester.Level=='Advanced B') Advanced B

            .form-group
              label(for='Section') Section
              select.form-control(name='Section')
                option(value='0' selected=semester.Section='0') 0
                option(value='2' selected=semester.Section='2') 2
                option(value='3' selected=semester.Section='3') 3
                option(value='4' selected=semester.Section='4') 4
                option(value='5' selected=semester.Section='5') 5
                option(value='6' selected=semester.Section='6') 6

            .form-group
              .row
                .col-md-6
                  input.btn.btn-primary.btn-block(type='submit', value='Update')
                .col-md-6
                  a.btn.btn-primary.btn-block(href='/semesters/get/#{student.Student_id}') Cancel
  