extends layout

block content
  h1= title
  table
    tr
      th Student Number
      th First Name
      th Last Name
      th Year
      th Semester
      th Term
      th Level
      th Section
    
    each row in rows
      tr
        td= row.Student_number
        td= row.First_name
        td= row.Last_name
        td= row.Year
        td= row.Season
        td= row.Term
        td= row.Level
        td= row.Section